<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Simulationstool Wärmebedarfe Gebäude</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Wärmesystem-Design</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#tab1" data-toggle="tab">Simulation Gebäudewärmebedarf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">Simulation Wärmepumpe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab3" data-toggle="tab">Simulation Versorgung</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <!-- Teil von index.html für das Building Tab -->
            <div id="buildingTab">
                <h3>Gebäudesimulator</h3>
                <input type="number" id="JEB_Wärme_ges_kWh" value="15000">
                <select id="buildingType">
                    <option value="HEF">Einfamilienhaus</option>
                    <option value="HMF">Mehrfamilienhaus</option>
                    <option value="GHD">Gewerbe/Handel/Dienstleistungen</option>
                </select>
                <button onclick="calculate()">Lastgang berechnen</button>
                <div id="chartContainer" style="height: 600px; width: 100%;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <!-- Wärmepumpen-Simulator Tab -->
            <h3>Wärmepumpen-Simulator</h3>
            <div id="heatPumpSimulator">
                <div class="form-group">
                    <label for="QuelltemperaturInput">Temperatur der Quelle in °C:</label>
                    <input type="number" class="form-control" id="QuelltemperaturInput" value="5" min="-20" max="40">
                </div>
                <div class="form-group">
                    <label for="HeiztemperaturInput">Vorlauftemperatur der Heizung in °C:</label>
                    <input type="number" class="form-control" id="HeiztemperaturInput" value="65" min="0" max="100">
                </div>
                <button id="calculateCOPButton" class="btn btn-primary">COP berechnen</button>
                <div class="form-group">
                    <label for="resultOutput">Effizienz der Wärmepumpe (COP):</label>
                    <input type="text" class="form-control" id="resultOutput" readonly>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <h3>Heizungsauslegung</h3>
            <div id="heatGenTab">
                <!-- Eingabefelder und Buttons -->
                <div class="form-group">
                    <label for="HeiztemperaturInput">Vorlauftemperatur der Heizung in °C:</label>
                    <input type="number" class="form-control" id="HeiztemperaturInput" value="65">
                </div>
                <div class="form-group">
                    <label for="wärmequelleInput">Wärmequelle:</label>
                    <select class="form-control" id="wärmequelleInput">
                        <option value="Luft">Luft</option>
                        <option value="Erdreich">Erdreich</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ErdreichTemperaturInput">Erdreichtemperatur in °C:</label>
                    <input type="number" class="form-control" id="ErdreichTemperaturInput" value="10" hidden>
                </div>
                <!-- Weitere Eingabefelder und Buttons -->
                <button id="calculateHeatGenButton" class="btn btn-primary">Berechnen</button>
                <div id="heatGenResult" style="height: 600px; width: 100%;">
                    <!-- Ergebnisse der Berechnungen anzeigen -->
                    <p>Jahresarbeitszahl der Wärmepumpe (COP): <span id="resultCOP"></span></p>
                    <p>Jährlicher Stromverbrauch der Wärmepumpe: <span id="resultStromverbrauch"></span> kWh</p>
                    <canvas id="heatGenChart"></canvas>
                </div>                
            </div>
        </div>        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>