<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Simulationstool Wärmebedarfe Gebäude</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Wärmesystem-Design</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#tab1" data-toggle="tab">Simulation Gebäudewärmebedarf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">Simulation Wärmepumpe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab3" data-toggle="tab">Simulation Versorgung</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <h3>Simulation Gebäudewärmebedarf</h3>
            <div id="buildingTab">
                <div class="form-group">
                    <label for="JEB_Wärme_ges_kWh">Jahreswärmebedarf in kWh:</label>
                    <input type="number" class="form-control" id="JEB_Wärme_ges_kWh" value="15000">
                </div>
                <div class="form-group">
                    <label for="buildingType">Gebäudetyp:</label>
                    <select class="form-control" id="buildingType">
                        <option value="HEF">Einfamilienhaus</option>
                        <option value="HMF">Mehrfamilienhaus</option>
                        <option value="GHD">Gewerbe/Handel/Dienstleistungen</option>
                    </select>
                </div>
                <button onclick="calculate()" class="btn btn-primary">Lastgang berechnen</button>
                <div id="chartContainer" style="height: 600px; width: 100%; margin-top: 20px;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>        
        <div class="tab-pane" id="tab2">
            <!-- Wärmepumpen-Simulator Tab -->
            <h3>Wärmepumpen-Simulator</h3>
            <div id="heatPumpSimulator">
                <div class="form-group">
                    <label for="QuelltemperaturInput">Temperatur der Quelle in °C:</label>
                    <input type="number" class="form-control" id="QuelltemperaturInput" value="5" min="-20" max="40">
                </div>
                <div class="form-group">
                    <label for="HeiztemperaturInput">Vorlauftemperatur der Heizung in °C:</label>
                    <input type="number" class="form-control" id="HeiztemperaturInput" value="65" min="0" max="100">
                </div>
                <button id="calculateCOPButton" class="btn btn-primary">COP berechnen</button>
                <div class="form-group">
                    <label for="resultOutput">Effizienz der Wärmepumpe (COP):</label>
                    <input type="text" class="form-control" id="resultOutput" readonly>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <h3>Heizungsauslegung</h3>
            <div id="heatGenTab">
        
                <!-- COP-Jahresverlauf berechnen -->
                <div class="mb-4">
                    <h4>COP-Jahresverlauf berechnen</h4>
                    <div class="form-group">
                        <label for="heiztemperatur">Heiztemperatur:</label>
                        <input type="number" class="form-control" id="heiztemperatur" value="65" min="0" max="100">
                    </div>
                    <div class="form-group">
                        <label for="wärmequelle">Wärmequelle:</label>
                        <select class="form-control" id="wärmequelle">
                            <option value="Luft">Luft</option>
                            <option value="Erdreich">Erdreich</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="erdreichTemperatur">ErdreichTemperatur:</label>
                        <input type="number" class="form-control" id="erdreichTemperatur" value="10">
                    </div>
                    <button onclick="calculateCOPYearly()" class="btn btn-primary">Berechnen</button>
                    <div id="copResult" class="mt-3"></div>
                </div>
        
                <!-- Strombedarf berechnen -->
                <div class="mb-4">
                    <h4>Strombedarf berechnen</h4>
                    <div class="form-group">
                        <label for="JEB_Wärme_ges_kWh">Jahreswärmebedarf in kWh:</label>
                        <input type="number" class="form-control" id="JEB_Wärme_ges_kWh" value="15000">
                    </div>
                    <div class="form-group">
                        <label for="buildingType">Gebäudetyp:</label>
                        <select class="form-control" id="buildingType">
                            <option value="HEF">Einfamilienhaus</option>
                            <option value="HMF">Mehrfamilienhaus</option>
                            <option value="GHD">Gewerbe/Handel/Dienstleistungen</option>
                        </select>
                    </div>
                    <button onclick="calculateStrombedarf()" class="btn btn-primary">Berechnen</button>
                    <div id="strombedarfResult" class="mt-3"></div>
                    <div id="chartContainer" style="height: 600px; width: 100%; margin-top: 20px;">
                        <canvas id="copChart"></canvas>
                    </div>
                    <div id="chartContainer" style="height: 600px; width: 100%; margin-top: 20px;">
                        <canvas id="stromChart"></canvas>
                    </div>
                </div>              
        
            </div>
        </div>                 
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>